@import 'https://fonts.googleapis.com/css?family=Prompt';

.header {
  width: 100%;
  display: -webkit-flex; 
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 70px;
}

.navigation-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.navigation-bar li {
  margin-left: 45px;
}

.name {
  font-family: 'Prompt';
  align-self: flex-end;
  font-weight: bold;
  font-size: 58px;
}

.name-part {
  font-weight: bold;
  color: #be0000;
}