@import 'https://fonts.googleapis.com/css?family=Prompt';

.header {
  width: 100%;
  white-space: nowrap;
  margin-bottom: 70px;
}

.header-navbar {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-navbar li {
  font-weight: bold;
}

.name {
  font-family: 'Prompt';
  font-weight: bold;
  font-size: 58.5px;
  margin-bottom: 20px;

  padding-top:90px;
}

.name-part {
  font-weight: bold;
  color: #be0000;
}