.links img {
  width: 31px;
  height: 31px;
  display: block;
  position: relative;
  top: 2px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #be0000;
}

.footer-navbar li {
  text-align: right;
}

.links, .footer-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

.links {
  margin-left: 15px;
}

.footer-navbar {
  margin-right: 15px;
}