.contacts {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.avatar {
  display: block;
  border-radius: 5px;  
  height: 240px;
  width: 240;
}

.contacts-links {
  display: flex;
  justify-content: flex-start;
}

.contacts-links img {
  width: 31px;
  height: 31px;
  margin-right: 20px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 240px;
  width: 240;
}